
<div *ngIf="showSpinner" style="text-align: center;" class="spinner-div">
    <mat-spinner class="spinner" [diameter]="50"></mat-spinner>

</div> 
<p class="movietype-header">
    <mat-icon  (click)="goToPrev()" >arrow_back</mat-icon> 
    <span >Top Rated Movies</span>

</p>

<div class="row">
    <div class="col-md-3 col-xs-6" *ngFor="let movie of topRatedMovies">
        <div class="card">
            <div class="card-body" >
                <h5 class="card-title">{{ movie.original_title }}</h5>
               
                <button mat-raised-button color="primary" (click)="getMovieOverview(movie)">More Details</button>

            </div>
            <!-- <div>
                <p class="card-text">{{ movie.title }}</p>
                <p class="card-text">{{ movie.overview }}</p>
            </div> -->
        </div>
    </div>
</div>
